<h1>Eat Da BURGS?</h1>

<h2>List of da burgs</h2>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <li>
                {{burger_name}}

                <button class="burg-eat" data-id='{{id}}'>DEVOUR!!!!</button>
            </li>
        {{/unless}}
    {{/each}}
</ul>

<h2>List of devoured burgs</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            <li>
                {{burger_name}}
            </li>
        {{/if}}
    {{/each}}
</ul>

<h2>Add a new burg</h2>

<form class='create-burg' method="POST" action="/api/burgers">

    <div class="form-group">
        <label for="burg">Burger name:</label>
        <input type="text" id="burg" name="name">
    </div>

    <button type="submit">Add Burger</button>
</form>

<script>
    {{!-- $('.create-burg').on('submit', (event) => {
        event.preventDefault();

        var newBurg = {
            burger_name: $('#burg').val().trim()
        }
        console.log(newBurg); 
        $.ajax('/api/burgers', {
            type:'POST',
            data: newBurg
        }).then(() => {
                console.log('success');
                location.reload();
            }
        )
    }); --}}
$(function(){
    $('.burg-eat').on('click', (event) => {
        event.preventDefault();
        var id = $(this).data("id")
        console.log('button worked')
        console.log(id)

        {{!-- $.ajax('/api/burgers/' + id, {
            type: 'PUT'
        }).then(() => {
            console.log('YUM!');

            location.reload();
        }) --}}
    })
});

</script>